<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Weight&Watch</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  </head>

  <body class="bg-gray-900 text-white">
    <div class="container mx-auto px-4">
      <div class="flex flex-col items-center justify-center h-screen">
        <i class="fas fa-dumbbell fa-4x text-blue-400"></i>
        <h1 class="text-4xl font-bold mt-4">Weight & Watch</h1>
        <p class="text-lg text-center mt-2 mb-6">
          No more need to worry about tracking your weight, we have got you
          covered!
        </p>
        <div class="flex space-x-4">
          <a
            href="/register"
            class="bg-gray-800 hover:bg-gray-700 text-white py-2 px-4 rounded-lg text-lg"
            >Register</a
          >
          <a
            href="/login"
            class="bg-gray-600 hover:bg-gray-500 text-white py-2 px-4 rounded-lg text-lg"
            >Login</a
          >
        </div>
      </div>
    </div>

    <div class="text-center text-gray-400 mt-8">
      <p>Made by Pranav Mahamunkar</p>
      <p>&copy; 2024</p>
    </div>
  </body>
</html>
